<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello, {{first_name}},

    <p>Use the link bellow to reset your password</p>
    <p>{{link}}</p>
</body>
</html>